.header  {
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    margin-left: 359px;
    display: flex;
    
  }

  &__item {
    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__link {
    color: #240532;
    font-size: 16px;
    font-family: 'Winston';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.4s ;

    &:hover {
      transition: 0.4s ;
      text-shadow: 0px 0px 7px #240532;
    }
  }

  &__row-rigth {
  }

  &__link-makets {
    color: #240532;
    font-size: 16px;
    font-family: 'Winston';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    &:hover {
      text-shadow: 0px 0px 7px #240532;
    }
  }


  /*===========================================*/

  &__burger-open {
    display: none;
  }

  &__burger-wrapper {
    padding: 0px 15px;
    transition: 0.4s ease all;
    position: absolute;
    z-index: 20;
    top: 82px;
    left: -100%;

    width: 100%;
    height: 100vh;
    background-color: #F9F7F8;
    display: block;
    
  }

  &__burger-content {
    display: flex;
    flex-grow: 1;
    padding-top: 40px;
    // padding: 40px 15px 0px 15px;
    border-top: 1px solid #240532;
    border-bottom: 1px solid #240532; 

  }


  &__burger-item {
    &:not(:last-child) {
      margin-bottom:20px;
    }
  }
  &__burger-link {
    color: #240532;
    font-family: 'Winston';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__burger-telegramm {
    margin-top: auto;
    color:  #240532;
    font-family: 'Winston';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;

  }


}

.header__burger-open {
  display: none;
}
.header__burger-wrapper {
  display: block;
}

.header__logo-adaptive {
  display: none;
}

@media(max-width: 1000px) {
  .header {
    padding-bottom: 20px;
    
    &__list {
      display: none;
    }

    &__link-makets {
      display: none;
    }

    &__burger-open {
      cursor: pointer;
      width: 30px;
      height: 15px;
      display: inline-block;
      display: flex;
      align-items: center;
      position: relative;
      
      span {
        border-radius: 2px;
        width: 100%;
        height: 2px;
        background-color: #240532;
        display: inline-block;
      }
      &::before {
        transition: 0.3s ease all;
        border-radius: 2px;
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: #240532;
      }
      &::after {
        transition: 0.3s ease all;
        border-radius: 2px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: #240532;
      }

    }

   

    // &__burger-wrapper {
    //   transition: 0.4s ease all;
    //   position: absolute;
    //   z-index: 20;
    //   top: 82px;
    //   left: -100%;

    //   width: 100%;
    //   height: 100vh;
    //   background-color: #F9F7F8;
    //   display: block;
      
    // }

    // &__burger-content {
    //   display: flex;
    //   flex-grow: 1;
    //   padding: 40px 15px 0px 15px;
    //   border-top: 1px solid #240532;
    //   border-bottom: 1px solid #240532; 

    // }


    // &__burger-item {
    //   &:not(:last-child) {
    //     margin-bottom:20px;
    //   }
    // }
    // &__burger-link {
    //   color: #240532;
    //   font-family: 'Winston';
    //   font-size: 30px;
    //   font-style: normal;
    //   font-weight: 400;
    //   line-height: normal;
    // }

    // &__burger-telegramm {
    //   margin-top: auto;
    //   color:  #240532;
    //   font-family: 'Winston';
    //   font-size: 36px;
    //   font-style: normal;
    //   font-weight: 600;
    //   line-height: normal;
    //   display: inline-block;

    // }
  }

  .burger-open {
    left: 0;
    transition: 0.4s ease all;
  }

  .active-icon {
    span {
      opacity: 0;
    }
    &::before {
      transition: 0.3s ease all;
      top: 9px;
      transform: rotate(-45deg);
    }
    &::after {
      transition: 0.3s ease all;
      bottom: 4px;
      transform: rotate(45deg);
    }
  }
  .rotete-icon{

  }
}
@media(max-width: 425px) {
  .header {
    padding: 10px 0px;
    &__logo {
     display: none;
    }

    &__logo-adaptive {
      display: block;
    }

    &__burger-wrapper {
      top: 50px;
    }
    &__burger-content {
      border-top: none;
    }
    &__burger-link {
      color: var(--text-black, #240532);
      font-family: 'Winston';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__burger-telegramm {
      font-size: 24px;
    }
  }
}