.layouts {

  &__wrapper {
    display: flex;
  }

  &__title-box {
    display: flex;
    flex-shrink: 0;
    width: 385px;
  }

  &__section-title {
    color: #240532;
    font-family: 'Winston';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &__slider-wrapper {
    min-width: 0;
    position: relative;
  }

  // &__swiper {}

  // &__swiper-wrapper {}

  // &__swiper-slide {}

  .img-wrapper {
    position: relative;
    z-index: 5;
    img{
      width: 100%;
      height: auto;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }

  &__layouts-title {
    text-transform: uppercase;
    bottom: 20px;
    left: 20px;
    position: absolute;
    z-index: 10;
    color: #000;
    font-family: 'Winston';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  // &__swiper-button-prev {}

  // &__swiper-button-next {}

  &__btn-wrapper {
    z-index: 3;
    bottom: 140px;
    right: 220px;
    position: absolute;
    
  }

  &__btn-prev {
    &:not(:last-child) {
      margin-right: 10px;
    }
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #827089;
    border-radius: 50%;
    &:hover {
      background-color:#D6FF3F;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% ,-50%) rotate(180deg);
    }
  }

  &__btn-next {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #827089;
    border-radius: 50%;
    &:hover {
      background-color:#D6FF3F;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% ,-50%);
    }
  }
 
}
.swiper {
  min-height: 0;
}
.swiper-slide-active {
  transition: 0.3s;
  scale: 1.5;
  .layouts__layouts-title {
    font-size: 19px;
  }
}
.swiper-wrapper {
  padding-bottom: 100px;
}

/*===========================*/

.layouts__slider {
  overflow: hidden;
  width: 100%;
}

.layouts__slider-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 0px 100px 0px;
}

.layouts__slider-item {
  flex-shrink: 0;
}
.layouts__link-wrapper {
  display: none;
}



@media(max-width: 1530px) {
  .layouts {
    &__title-box {
      width: 280px;
    }
  }
}
@media(max-width: 1440px) {
  .layouts { 
    &__title-box {
      width: 220px;
    }
  }
}
@media(max-width: 1366px) {
  .layouts {
    &__btn-wrapper {
      right: 210px;
    }
    &__layouts-title {
      font-size: 22px;
    }
  }
}
@media(max-width: 1350px) {
  .layouts__btn-wrapper {
    right: 200px;
  }
}
@media(max-width: 1310px) {
  .layouts { 
    padding-bottom: 100px;
    &__title-box {
      width: 170px;
    }
    .swiper-slide-active {
      scale: none;
      .layouts__layouts-title {
        font-size: 22px;
      }
    }
    &__btn-wrapper {
      bottom: -50px;
      right: 0px;
      // transform: translate(-50%);
    }
   
  }
  .layouts__slider-wrapper {
    padding: 0px;
  }
}
@media(max-width: 1100px) {
  .layouts__layouts-title{
    font-size: 19px;
  }
  .layouts .swiper-slide-active .layouts__layouts-title {
    font-size: 19px;
  }
}
@media(max-width: 1000px) {
  .layouts {
    padding-bottom: 70px;
    &__wrapper {
      display: block;
    }

    &__title-box {
      width: 100%;
      margin-bottom: 20px;
    }
    &__btn-wrapper {
      display: none;
    }
    &__layouts-title {
      left: 10px;
      bottom: 10px;
    }
  }
  .layouts__layouts-title {
    font-size: 16px;
  }
  .layouts .swiper-slide-active .layouts__layouts-title {
    font-size: 16px;
  }
  .layouts__slider-wrapper {
    padding: 0 0 40px 0;
  }
}
@media(max-width: 600px) {
  .layouts {
    &__link-wrapper {
      display: block;
    }
   
    &__layouts-title {
     
    }
  }
  .img-wrapper {
    :not(:last-child) {
      margin-bottom: 10px;
    }
    .layouts__layouts-title {
      bottom: 20px;
      left: 20px;
    }
  }
  .layouts__slider-wrapper {
    display: none;
  }
  
  
}