.news {
  padding-top:0px;
  padding-bottom:100px;


  &__wrapper {
    display: flex;
    
  }

  &__title-box {
    display: flex;
    flex-shrink: 0;
    width: 385px;
  }

  &__section-title {
    color: #240532;
    font-family: 'Winston';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30px */
  }

  &__contest-wrapper {
    // padding: 20px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    // background-image: url('../images/contest-bg.webp');
    // background-repeat: no-repeat;
    // background-position: center;
  }

  &__contest {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 642px;
  }

  &__contest-content {
    border-radius: 3px;
    background: radial-gradient(231.00% 135.80% at 0.90% 2.98%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(21px);
    padding: 20px;
    
  }

  &__contest-titele {
    color:  #240532;
    font-family: 'Winston';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 30px */
    margin-bottom: 14px;
  }

  &__contest-text {
    color:#240532;
    font-family: 'Winston';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 137%; /* 21.92px */
    margin-bottom: 27px;
    // max-width: 550px;

  }

  &__state-wrapper {
    display: flex;
    align-items: center;
  }

  &__state {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
    svg {
      margin-right: 10px;
    }
    span {
      font-family: 'Vasek-Italic';
      color: #240532;
      font-size: 34px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      text-transform: lowercase;
    }
  }

  &__deadline {
    color: #240532;
    font-family: 'Winston';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 137%; /* 21.92px */
  }

  &__contest-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 14px 42px;
    background-color: #D6FF3F;
    border-radius: 40px;
    border: 1px solid #827089;
    transition: 0.6s;
    &:hover {
      transition: 0.6s;
      color: #fff;
      background-color:  #240532;
    }
  }
}


.news__images-adaptive {
  display: none;
}




@media(max-width: 1530px) {
  .news {
    &__title-box {
      width: 280px;
    }
  }
}
@media(max-width: 1440px) {
  .news {
    &__title-box {
      width: 220px;
    }
    &__contest-content {
      padding: 10px;
    }
    &__state {
      margin-bottom: 20px;
    }
  }
}
@media(max-width: 1310px) {
  .news {
    &__title-box {
      width: 170px;
    }
    &__contest-titele {
      font-weight: 500;
    }
  }
}
@media(max-width: 1200px) {
  .news {
    &__contest {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
     
    }
    &__contest-content {
      height: 100%;
    }
    &__contest-btn {
       bottom: 10px;
       right: 10px;
    }
  }
}
@media(max-width: 1100px) {
  .news {
    &__contest-text {
      margin-bottom: 12px;
    }
    &__state {
      margin-bottom: 10px;
    }
  } 
}
@media(max-width: 1000px) {
  .news {
    padding-bottom: 80px;
    &__wrapper {
      display: block;
    }
    &__section-title {
      margin-bottom: 20px;
    }
  
  }
}
@media(max-width: 768px) {
  .news {
    
  }
  .news__state:not(:last-child) {
    margin-right: 15px;
  }
  .news__contest-btn {
    padding: 14px 42px;
  }
  .news__contest-titele {
    margin-bottom: 10px;
  }
  .news__images-adaptive {
    display: block;
  }
  .news__images {
    display: none;
  }
  .news__state-wrapper {
    display: block;
  }
  .news__contest-text {
    max-width: 556px;
  }
}
@media(max-width: 620px) {
  .news__state-wrapper {
    display: flex;
  }
  .news__state-wrapper {
    // display: none;
  }
  .news__state span {
    font-size: 29px;
  }
 
}
@media(max-width: 530px) {
  .news__state-wrapper {
    display: none;
  }
}
@media(max-width: 480px) {
  .news {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .news__wrapper {
  }
  .news__images-adaptive {
    display: none;
  }
  .news__contest-content {
    padding: 0px;
  }
  .news__contest-btn-adaptive {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .news__contest-content {
    background: transparent;
    backdrop-filter: none;
  }
  .news__contest {
    position: static;
    margin-bottom: 10px;

  }
  .news__contest-btn {
    position: static;
    display: inline-block;
    width: 100%;
  }
  .news__section-title {
    margin-bottom: 10px;
  }
  .news__deadline {
    font-size: 14px;
  }
 
}
@media(max-width: 425px) {
  .news__contest-titele {
    display: none;
  }
}


