<section class="catalog">
  <div class="container">
    <div class="catalog__wrapper">
      <div class="catalog__wrapper-top">
        <div class="catalog__svg-box">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C19.96 28.9679 11.0211 20.0371 0 20.0371C11.0457 20.0371 20 11.0661 20 0C20.0398 11.0321 28.9789 19.9629 40 19.9629C28.9541 19.9629 20 28.9339 20 40Z" fill="#918299"/>
            </svg>
        </div>
        <div class="catalog__space-between">
          <div class="catalog__title-wrapper">
            <h2 class="catalog__title">
              Каталог макетов
            </h2>
            <p class="catalog__text">
              Мы тщательно отобрали и отсортировали самый лучший материал. Здесь вы сможете найти именно такой макет, который вам нужен.
            </p>
          </div>
          <div class="catalog__span-box">
            <span class="catalog__title-span">(926)</span>
          </div>
        </div>
      </div>
      <div class="catalog__wrapper-categoties">
        <div class="catalog__categoties-all">
          категории
        </div>
        <div class="catalog__wrapper-sort">
          <div class="catalog__categoties-filter">
            флильтр
            <span class="catalog__number-span">
              4
            </span>
            <span class="catalog__plus-span">+</span>
          </div>
          <div class="catalog__categoties-sort">
            сортировка по популярности
            <span class="catalog__plus-span">+</span>
          </div>
        </div>
      </div>
      <div class="catalog__wrapper-bottom">
        <div class="catalog__side-menu">
          <button class="catalog__all-button">
            Все
          </button>
          <div class="catalog__side-accordion">
            Одностраничные
          </div>
          <div class="catalog__side-content">
            <p class="catalog__side-item-lending">
              Лендинги
            </p>
            <p class="catalog__side-item-vizet">
              Сайт-визитка
            </p>
          </div>
          <div class="catalog__side-accordion">
            Многостраничные
          </div>
          <div class="catalog__side-content">
            <p class="catalog__side-item-corporat">
              Корпоративные сайты
            </p>
            <p class="catalog__side-item-market">
              Интернет-магазины
            </p>
            <p class="catalog__side-item-news">
              Новостные сайты
            </p>
            <p class="catalog__side-item-services">
              Сервисы
            </p>
          </div>
          <div class="catalog__side-accordion">
            Приложения
          </div>
        </div>
        <div class="catalog__gallery-layouts">
          <div class="catalog__cards-wrapper">
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-1.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг по созданию<br>умных домов под ключ
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-2.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг для<br>NFT дропов
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-3.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг для<br>SEO студии
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-4.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг по денежным<br>транзакциям
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-5.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Интернет-магазин<br> неоновых вывесок
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-6.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг для<br> аналитической компании
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-7.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг компании по<br> автоматизации процессов
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-8.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Лендинг для<br> дизайнерского агенства
              </p>
            </div>
            <div class="catalog__cards-item">
              <div class="catalog__img-wrapper">
                <img src="images/catalog-img-9.webp" alt="img-layouts">
              </div>
              <p class="catalog__cards-description">
                Интернет-магазин<br> оригинальных подарков
              </p>
            </div>
          </div>
          <div class="catalog__btn-box">
            <button class="catalog__btn-more">
              <svg width="13" height="25" viewBox="0 0 13 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.21053 0L6.21053 24M6.21053 24L12 18.383M6.21053 24L1 18.383" stroke="#918299"/>
                </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>