<contacts class="contacts ">
  <div class="container">
   <div class="contacts__wrapper-background">
    <img src="images/footer-bg.svg" alt="background-section">
   </div>
    <div class="contacts__wrapper">
      <div class="contacts__title-box">
        <h3 class="contacts__section-title">
          Наши контакты
        </h3>
      </div>
      <div class="contacts__form-wrapper">
        <div class="contacts__form-desc">
          Если ты хочешь связаться с нами, напиши сюда свои данные.<br>
          Мы свяжемся с тобой в ближайшее время
        </div>
        <form class="contacts__form" action="">
          <label class="contacts__label" for="">
            <input class="contacts__input" type="text" placeholder="Имя">
          </label>
          <label class="contacts__label" for="">
            <input class="contacts__input" type="text" placeholder="Фамилия">
          </label>
          <div class="contacts__telegram-input">
            <input class="telegram-input" type="text" placeholder="Telegram">
          </div>
          <label class="contacts__label-check">
            <input class="contacts__check-box" type="checkbox">
            <span class="contacts__check-style"></span>
            Я согласен(на) с политикой конфиденциальности
          </label>
          <button class="contacts__form-btn">
            отправить
          </button>
        </form>
      </div>
    </div>
    <div class="contacts__run-string">
      <div class="contacts__string-wrapper">
        <div class="contacts__string-text">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C19.96 28.9679 11.0211 20.0371 0 20.0371C11.0457 20.0371 20 11.0661 20 0C20.0398 11.0321 28.9789 19.9629 40 19.9629C28.9541 19.9629 20 28.9339 20 40Z" fill="#240532"/>
          </svg>
          КАЧЕСТВЕННЫЙ МАТЕРИАЛ
        </div>
        <div class="contacts__string-text">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C19.96 28.9679 11.0211 20.0371 0 20.0371C11.0457 20.0371 20 11.0661 20 0C20.0398 11.0321 28.9789 19.9629 40 19.9629C28.9541 19.9629 20 28.9339 20 40Z" fill="#240532"/>
          </svg>
          КАЧЕСТВЕННЫЙ МАТЕРИАЛ
        </div>
        <div class="contacts__string-text">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C19.96 28.9679 11.0211 20.0371 0 20.0371C11.0457 20.0371 20 11.0661 20 0C20.0398 11.0321 28.9789 19.9629 40 19.9629C28.9541 19.9629 20 28.9339 20 40Z" fill="#240532"/>
          </svg>
          КАЧЕСТВЕННЫЙ МАТЕРИАЛ
        </div>
        <div class="contacts__string-text">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C19.96 28.9679 11.0211 20.0371 0 20.0371C11.0457 20.0371 20 11.0661 20 0C20.0398 11.0321 28.9789 19.9629 40 19.9629C28.9541 19.9629 20 28.9339 20 40Z" fill="#240532"/>
          </svg>
          КАЧЕСТВЕННЫЙ МАТЕРИАЛ
        </div>
      </div>
    </div>
  </div>
</contacts>

