
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="footer__menu">
        <li class="footer__item">
          <a class="footer__link" href="#!">
            Privacy policy
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#!">
            Cookie policy
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#!">
            Legal notice
          </a>
        </li>
      </ul>
      <span class="footer__name-teg">
        Design by Violetta Gobozova
      </span>
    </div>
  </div>
</footer>