<section class="layouts none">
  <div class="container">
    <div class="layouts__wrapper">
      <div class="layouts__title-box">
        <h3 class="layouts__section-title">
          Категории макетов
        </h3>
      </div>
      <div class="layouts__slider-wrapper">
        <div class="layouts__slider"> <!--swiper-->
          <div class="layouts__slider-wrapper"> <!--swiper-wrapper-->
            <div class="layouts__slider-item">  <!--swiper-slide-->
              <div class="img-wrapper">
                <img src="../images/205 1.webp" alt="slide-img">
                <p class="layouts__layouts-title"> 
                  одностраничные
                </p>
              </div>
            </div>
            <div class="layouts__slider-item">
              <div class="img-wrapper">
                <img src="../images/layouts-3.webp" alt="slide-img">
                <p class="layouts__layouts-title">
                  Многостраничные
                </p>
              </div>
            </div> 
            <div class="layouts__slider-item">
              <div class="img-wrapper">
                <img src="../images/loyaouts-2.webp" alt="slide-img">
                <p class="layouts__layouts-title">
                  магазины
                </p>
              </div>
            </div>
            <div class="layouts__slider-item">
              <div class="img-wrapper">
                <img src="../images/205 1.webp" alt="slide-img">
                <p class="layouts__layouts-title"> 
                  одностраничне
                </p>
              </div>
            </div>
            <div class="layouts__slider-item">
              <div class="img-wrapper">
                <img src="../images/layouts-3.webp" alt="slide-img">
                <p class="layouts__layouts-title">
                  Многостраничные
                </p>
              </div>
            </div> 
            <div class="layouts__slider-item">
              <div class="img-wrapper">
                <img src="../images/loyaouts-2.webp" alt="slide-img">
                <p class="layouts__layouts-title">
                  магазины
                </p>
              </div>
            </div>
          </div>
          <div class="layouts__btn-wrapper">
            <button class="layouts__btn-prev">
              <svg width="25" height="13" viewBox="0 0 25 13"           fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 6.79008H24M24 6.79008L18.383 1.00061M24 6.79008L18.383 12.0006" stroke="#827089"/>
              </svg>
            </button>
            <button class="layouts__btn-next">
              <svg width="25" height="13" viewBox="0 0 25 13"           fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 6.79008H24M24 6.79008L18.383 1.00061M24 6.79008L18.383 12.0006" stroke="#827089"/>
              </svg>
            </button>
          </div>
          <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->
          
        </div> 
      </div>
    </div>
  </div>
</section>