<section class="popular none">
  <div class="container">
    <div class="popular__wrapper">
      <div class="popular__title-box">
        <h3 class="popular__section-title">
          Самое популярное
        </h3>
      </div>
      <div class="popular__conten-box">
        <div class="popular__acсordion-wrapper">
          <div class="popular__accordion">
            <p class="popular__acсordion-number">
              01
            </p>
            <h4 class="popular__acсordion-title">
              Макет лендинга для системы блокчейн
            </h4>
            <span class="popular__acсordion-icon">
            </span>
          </div>
          <div class="popular__accordion-content">
            <div class="popular__accordion-img">
              <img src="../images/img-accordion.jpg" alt="image layout">
            </div>
            <div class="popular__accordion-desc">
              <p class="popular__layou-title">
                Community-owned API of blockchains
              </p>
              <p class="popular__accordion-date">
                29 мая 2023 г.
              </p>
              <ul class="popular__accordion-list">
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Тип:
                  <span>Многостраничный сайт</span>
                </li>
                <li class="popular__accordion-item">
                  Адаптивность:
                  <span>Адаптивный</span>
                </li>
                <li class="popular__accordion-item">
                  Языки:
                  <span>EN</span>
                </li>
                <li class="popular__accordion-item">
                  Цветовая тема:
                  <span>Черная</span>
                </li>
                <li class="popular__accordion-item">
                  Цена макета:
                  <span>18000-21000 р</span>
                </li>
              </ul>
              <button class="popular__accordion-btn">
                скачать
              </button>
            </div>
          </div>
        </div>
        <div class="popular__acсordion-wrapper">
          <div class="popular__accordion">
            <p class="popular__acсordion-number">
              02
            </p>
            <h4 class="popular__acсordion-title">
              Макет лендинга по организации экскурсий
            </h4>
            <span class="popular__acсordion-icon">
            </span>
          </div>
          <div class="popular__accordion-content">
            <div class="popular__accordion-img">
              <img src="../images/img-accordion.jpg" alt="image layout">
            </div>
            <div class="popular__accordion-desc">
              <p class="popular__layou-title">
                Community-owned API of blockchains
              </p>
              <p class="popular__accordion-date">
                29 мая 2023 г.
              </p>
              <ul class="popular__accordion-list">
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Тип:
                  <span>Многостраничный сайт</span>
                </li>
                <li class="popular__accordion-item">
                  Адаптивность:
                  <span>Адаптивный</span>
                </li>
                <li class="popular__accordion-item">
                  Языки:
                  <span>EN</span>
                </li>
                <li class="popular__accordion-item">
                  Цветовая тема:
                  <span>Черная</span>
                </li>
                <li class="popular__accordion-item">
                  Цена макета:
                  <span>18000-21000 р</span>
                </li>
              </ul>
              <button class="popular__accordion-btn">
                скачать
              </button>
            </div>
          </div>
        </div>
        <div class="popular__acсordion-wrapper">
          <div class="popular__accordion">
            <p class="popular__acсordion-number">
              03
            </p>
            <h4 class="popular__acсordion-title">
              Макет лендинга для университета
            </h4>
            <span class="popular__acсordion-icon">
            </span>
          </div>
          <div class="popular__accordion-content">
            <div class="popular__accordion-img">
              <img src="../images/img-accordion.jpg" alt="image layout">
            </div>
            <div class="popular__accordion-desc">
              <p class="popular__layou-title">
                Community-owned API of blockchains
              </p>
              <p class="popular__accordion-date">
                29 мая 2023 г.
              </p>
              <ul class="popular__accordion-list">
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Тип:
                  <span>Многостраничный сайт</span>
                </li>
                <li class="popular__accordion-item">
                  Адаптивность:
                  <span>Адаптивный</span>
                </li>
                <li class="popular__accordion-item">
                  Языки:
                  <span>EN</span>
                </li>
                <li class="popular__accordion-item">
                  Цветовая тема:
                  <span>Черная</span>
                </li>
                <li class="popular__accordion-item">
                  Цена макета:
                  <span>18000-21000 р</span>
                </li>
              </ul>
              <button class="popular__accordion-btn">
                скачать
              </button>
            </div>
          </div>
        </div>
        <div class="popular__acсordion-wrapper">
          <div class="popular__accordion">
            <p class="popular__acсordion-number">
              04
            </p>
            <h4 class="popular__acсordion-title">
              Макет лендинга  для SEO студии
            </h4>
            <span class="popular__acсordion-icon">
            </span>
          </div>
          <div class="popular__accordion-content">
            <div class="popular__accordion-img">
              <img src="../images/img-accordion.jpg" alt="image layout">
            </div>
            <div class="popular__accordion-desc">
              <p class="popular__layou-title">
                Community-owned API of blockchains
              </p>
              <p class="popular__accordion-date">
                29 мая 2023 г.
              </p>
              <ul class="popular__accordion-list">
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Тип:
                  <span>Многостраничный сайт</span>
                </li>
                <li class="popular__accordion-item">
                  Адаптивность:
                  <span>Адаптивный</span>
                </li>
                <li class="popular__accordion-item">
                  Языки:
                  <span>EN</span>
                </li>
                <li class="popular__accordion-item">
                  Цветовая тема:
                  <span>Черная</span>
                </li>
                <li class="popular__accordion-item">
                  Цена макета:
                  <span>18000-21000 р</span>
                </li>
              </ul>
              <button class="popular__accordion-btn">
                скачать
              </button>
            </div>
          </div>
        </div>
        <div class="popular__acсordion-wrapper">
          <div class="popular__accordion">
            <p class="popular__acсordion-number">
              05
            </p>
            <h4 class="popular__acсordion-title">
              Макет магазина по продаже военной одежды
            </h4>
            <span class="popular__acсordion-icon">
            </span>
          </div>
          <div class="popular__accordion-content">
            <div class="popular__accordion-img">
              <img src="../images/img-accordion.jpg" alt="image layout">
            </div>
            <div class="popular__accordion-desc">
              <p class="popular__layou-title">
                Community-owned API of blockchains
              </p>
              <p class="popular__accordion-date">
                29 мая 2023 г.
              </p>
              <ul class="popular__accordion-list">
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Уровень сложности:
                  <span>Сложный</span>
                </li>
                <li class="popular__accordion-item">
                  Тип:
                  <span>Многостраничный сайт</span>
                </li>
                <li class="popular__accordion-item">
                  Адаптивность:
                  <span>Адаптивный</span>
                </li>
                <li class="popular__accordion-item">
                  Языки:
                  <span>EN</span>
                </li>
                <li class="popular__accordion-item">
                  Цветовая тема:
                  <span>Черная</span>
                </li>
                <li class="popular__accordion-item">
                  Цена макета:
                  <span>18000-21000 р</span>
                </li>
              </ul>
              <button class="popular__accordion-btn">
                скачать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>