<section class="questions none">
  <div class="container">
    <div class="questions__wrapper">
      <div class="questions__title-box">
        <h3 class="questions__section-title title-all">
          faq
        </h3>
      </div>
      <div class="questions__questions-wrapper">
        <div class="questions__accordion-wrapper">
          <div class="questions__accordion">
            А это бесплатно?
            <span class="questions__span-icon"></span>
          </div>
          <div class="questions__accordion-content">
            Да! Это абсолютно бесплатно
          </div>
        </div>
        <div class="questions__accordion-wrapper">
          <div class="questions__accordion">
            Должен ли я отметить автора?
            <span class="questions__span-icon"></span>
          </div>
          <div class="questions__accordion-content">
            Да! Для обратной связи с вами
          </div>
        </div>
        <div class="questions__accordion-wrapper">
          <div class="questions__accordion">
            Сколько по времени займет верстка?
            <span class="questions__span-icon"></span>
          </div>
          <div class="questions__accordion-content">
            Зависит от вашего уровня подготовки
          </div>
        </div>
        <div class="questions__accordion-wrapper">
          <div class="questions__accordion">
            Могу ли я переделать макет?
            <span class="questions__span-icon"></span>
          </div>
          <div class="questions__accordion-content">
            Можете пределать макет в любое время до сдачи
          </div>
        </div>
        <div class="questions__accordion-wrapper">
          <div class="questions__accordion">
            Как скопировать макет себе?
            <span class="questions__span-icon"></span>
          </div>
          <div class="questions__accordion-content">
            Вы можете дублировать файл Figma себе, нажав на<br> Duplicate to your Drafts
          </div>
        </div>
      </div>
    </div>
  </div>
</section>